* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#root {
    display: flex;
    height: 100%;
}

.aside {
    display: flex;
}

.sidebar {
    width: 320px;
    min-width: 320px;
    border-right: 1px solid #c6c6c6;
    padding: 15px;
}

.logo {
    margin-bottom: 25px;
}

.logo a {
    font-size: 30px;
}
.description {
    font-size: 18px;
    margin-bottom: 12px;
}
.about li {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

.about a {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 720px;
    width: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.modal-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ccc;
    cursor: pointer;
}
.modal-close-icon svg {
    margin: 10px;
}

.content {
    flex: 1;
    overflow: auto;
}

.header {
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    position: sticky;
}

.search {
    flex: 1;
    display: flex;
    position: relative;
    .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-left: 20px;
}

.brands {
    padding: 25px;
    background: #f2f2f2;
}

.brand {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 15px;
    margin: 12px;
}

.brand h4 {
    font-size: 20px;
    font-weight: bolder;
}
.brand h5 {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

.brand-colors {
    flex-grow: 1;
    margin-right: 0;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
